*
{
    margin:0;
    padding:0;
}
.main
{
    width: 100%;
    
    background: url(background2.jpg);
    background-position:center;
    background-size: cover;
    height:100vh;
    position: relative;
    font-family:Helvetica ;
}
.navbar
{
    width:86%;
    display:flex;
    margin:auto;
    padding : 15px 0;
    align-items: center;
    justify-content:space-between;
}
.navbar .logo
{
    width:100px;
    cursor:pointer;
    margin-top:-2%;
    margin-left:-9%;
    background-color: aqua;
}

ul
{
    margin-top:0%;
}
li
{
    list-style:none;
    display: inline-block;
    padding : 16px 16px;
    word-spacing: 30px;
}
ul li a{
    font-size:16px;
    font-weight:bold;
    color:rgb(16, 8, 8);
    margin:-3%;
}
.Info {
    font-family:'Helvetica';
    margin-left:10%;
    margin-top: 10%;
    
}

.Info h1{
    font-size:50px;
    
}

.Info h2{
    font-size:40px;
    
}

.Info p{
    font-size:25px;
    letter-spacing: 1px;
    line-height: 24px;
}

.image 
{
    width:30%;
    height:60%;
    position:absolute;
    right:100px;
    bottom:0;
    
}
.image img{
    position:absolute;
    
    height:100%;
    left:40%;
    border-radius:70%;
    transform:translate(-50%);
    top:-120px;
    bottom:130px;
}
footer {
   
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px; 
    margin: 0 10px; 
}
.contact-info span {
    margin-right: 50px; 
}

